<div>
  <h3><b>User update page</b></h3>
  <br>
  <div>
    <label>Authorization roles:</label>
    <div class="form-check">
      <input [(ngModel)]="readRole" class="form-check-input" type="checkbox" value="CAN_READ_USERS" id="defaultCheck1">
      <label class="form-check-label" for="defaultCheck1">READ</label>
    </div>
    <div class="form-check">
      <input [(ngModel)]="createRole" class="form-check-input" type="checkbox" value="CAN_CREATE_USERS" id="defaultCheck2">
      <label class="form-check-label" for="defaultCheck2">CREATE</label>
    </div>
    <div class="form-check">
      <input [(ngModel)]="updateRole" class="form-check-input" type="checkbox" value="CAN_UPDATE_USERS" id="defaultCheck3">
      <label class="form-check-label" for="defaultCheck3">UPDATE</label>
    </div>
    <div class="form-check">
      <input [(ngModel)]="deleteRole" class="form-check-input" type="checkbox" value="CAN_DELETE_USERS" id="defaultCheck4">
      <label class="form-check-label" for="defaultCheck4">DELETE</label>
    </div>
    <br>
    <form [formGroup]="updateForm" (submit)="updateUser()" class="mb-5">
      <div class="form-group mb-2">
        <label for="name">Name:</label>
        <input [(ngModel)]="userInfo.name" type="text" class="form-control" id="name" name="name" placeholder="Enter the user's name" [formControlName]="'name'">

        <label for="lastname">Lastname:</label>
        <input [(ngModel)]="userInfo.lastName" type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter the user's lastname" [formControlName]="'lastName'">

        <label for="mail">Email address:</label>
        <input [(ngModel)]="userInfo.mail" type="mail" class="form-control" id="mail" name="mail" placeholder="Enter the user's mail address" [formControlName]="'mail'">
      </div>
      <br>
      <button type="submit" class="btn btn-outline-primary">Update user</button>
    </form>
  </div>
</div>
